doctype html

html

  head
    link(rel = 'stylesheet' href = '/browser/style.css')
    title Kamihime Player - Error

  body
    ul
      include ../constants/navigation.pug
      li(style="float: right; user-select: none;")
        a Error: 404
    center
      br
      img(src = '/img/LME.png' alt = 'Let Me Explain...')
      h1 This is an invalid page.