doctype html

html

  head
    script(src = '/lib/jquery.min.js')
    script(src = '/browser/script.js')
    link(rel = 'stylesheet' href = '/browser/style.css')
    title Kamihime Player - Browser
    style.
      .visible {
        visibility: visible;
        z-index: 0;
        opacity: 1;
        transform: translateX(0);
        transition: all 0.25s ease;
      }

      .hidden {
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transform: translateX(-50%);
        transition: all 0.25s ease;
      }

      .hiddenInstant {
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transform: translateX(-50%);
      }
  body
    ul
      include constants/navigation.pug
      li(style = 'float: right; user-select: none;')
        a Browser
    include constants/lb.pug
    #control
      #buttons
        button(class = 'toggleForm' id = 'allbtn' style = 'background-color: #666f8b;' type = 'button' nav = '#all') <b>ALL</b>
        | 
        button(class = 'toggleForm' id = 'soulsbtn' style = 'background-color: #666f8b;' type = 'button' nav = '#souls') <b>SOUL</b>
        | 
        button(class = 'toggleForm' id = 'eidolonsbtn' style = 'background-color: #666f8b;' type = 'button' nav = '#eidolons') <b>EIDOLON</b>
        | 
        button(class = 'toggleForm' id = 'ssrasbtn' style = 'background-color: #666f8b;' type = 'button' nav = '#ssras') <b>SSR (AWAKENED)</b>
        | 
        button(class = 'toggleForm' id = 'ssrsbtn' style = 'background-color: #666f8b;' type = 'button' nav = '#ssrs') <b>&nbsp;SSR&nbsp;</b>
        | 
        button(class = 'toggleForm' id = 'srsbtn' style = 'background-color: #666f8b;' type = 'button' nav = '#srs') <b>&nbsp;&nbsp;SR&nbsp;&nbsp;</b>
        | 
        button(class = 'toggleForm' id = 'rsbtn' style = 'background-color: #666f8b;' type = 'button' nav = '#rs') <b>&nbsp;&nbsp;&nbsp;&nbsp;R&nbsp;&nbsp;&nbsp;&nbsp;</b>
      #search
        input(type = 'text' id = 'searchBar' size = '35' class = 'avWA' placeholder = 'Search by name...')
    br
    #thumbnail
    #characters
      #all(class = 'hidden' style = 'position: absolute;')
        h2(style = 'text-align: left') All
        include assets_browser/all.pug
      #souls(class = 'hidden' style = 'position: absolute;')
        h2(style = 'text-align: left') Souls
        include assets_browser/souls.pug
      #eidolons(class = 'hidden' style = 'position: absolute;')
        h2(style = 'text-align: left') Eidolons
        include assets_browser/eidolons.pug
      #ssras(class = 'hidden' style = 'position: absolute;')
        h2(style = 'text-align: left') SSRs (Awakened)
        include assets_browser/ssras.pug
      #ssrs(class = 'hidden' style = 'position: absolute;')
        h2(style = 'text-align: left') SSRs
        include assets_browser/ssrs.pug
      #srs(class = 'hidden' style = 'position: absolute;')
        h2(style = 'text-align: left') SRs
        include assets_browser/srs.pug
      #rs(class = 'hidden' style = 'position: absolute;')
        h2(style = 'text-align: left') Rs
        include assets_browser/rs.pug